:root{
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

*{
    /* outline: 1px solid red; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: relative;
    height: 78px;
    background-color: #78C1F3;
  }

  .titlemi {
      text-align: center;;
      color: #FFE4A7;
      text-shadow: 1px 1px 5px #000
  }

  .txtinfo {
    font-size: 50px;
    text-align: center;
    text-decoration: underline red;
    margin-top: 2rem;
  }

  body {
    background-color: #FCAEAE;
}

.containerbt {
  display: flex;
  align-items: center;
  margin-top: 2rem; /* Ajusta el margen superior para separar del borde de la ventana */
}

.list-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Alinea las listas al centro horizontalmente */
  justify-content: center; /* Alinea las listas al centro verticalmente */
  width: 100%; /* Puedes ajustar el ancho del contenedor según tus necesidades */
  margin: 0 3rem; /* Ajusta el margen derecho e izquierdo para separar las imágenes */
}

.image-left,
.image-right {
  flex: 1; /* Permite que las imágenes ocupen el espacio disponible */
}

.imgbt {
  border-radius: 2rem;
  width: 450px;
  height: auto;
  margin-left: 4rem;
  margin-bottom: 1rem; /* Ajusta el margen entre las imágenes */
}

.imgbt2 {
  border-radius: 2rem;
  width: 200px;
  height: auto;
  margin-right: 4rem;
}

ul {
  list-style-type: circle;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

table {
  border-collapse: collapse;
  width: 90%;
  max-width: 1000px;
  margin-bottom: 6rem;
}

th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
  height: 80px; /* Ajusta la altura de las celdas según tu preferencia */
}

th {
  background-color: lightgray;
}

  .containerfoto2 {
    display: flex;
    justify-content: flex-end; /* Alineamos el contenido a la derecha */
    align-items: flex-start; /* Alineamos el contenido en la parte superior */
    height: 100vh; /* Ajustamos la altura del contenedor al 100% del viewport */
  }
  
  .foto2 {
    width: 35vh;
    height: 25%;
    border: 1px solid black;
    margin-top: 50px; /* Ajustamos el margen superior para separar del borde de la ventana */
    margin-right: 3rem;
    border-radius: 2rem;
  }
  
  .containerlogo {
    display: flex;
    justify-content: flex-end; /* Alineamos el contenido a la derecha */
    align-items: center; /* Centramos verticalmente el contenido */
    position: relative; /* Agregamos posición relativa para posicionar .logo */
  }
  
  .logo {
    width: 80px;
    transform: translateY(-40%); /* Desplazamos verticalmente el 40% de su altura */
  }

  nav a{
    text-decoration: none;
    font-style: oblique;
    background-color: aquamarine;
    padding: 1rem;
    border-radius: 2vh;
    font-weight: bolder ;
    color: black
}

a:hover {
  color: rgb(12, 12, 12);
  transform: scale(1.1);
  filter: brightness(2);
}

a:active{
  transform: scale(3);
}

.titleh{
    text-align: center;;
    color: #FFE4A7;
    text-shadow: 1px 1px 5px #000
}

.subth{
    text-align: center;
    color: #FFE4A7;
    text-shadow: 1px 1px 5px black;
}

.Contactc{
  text-align: center;;
  color: #FFE4A7;
  text-shadow: 1px 1px 5px #000
}

.Order{
  text-align: center;
  color: #FFE4A7;
  text-shadow: 1px 1px 5px black;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.imgh {
  display: block;
  margin: auto;
  max-width: 60%;
  max-height: 100%;
  border-radius: 2rem;
}

  div p {
    font-size: 120%;
    position: relative;
    top: 10px;
    margin-left: 20vh;
  }

  .container {
    display: flex;
    justify-content: space-between; /* Alinea los elementos a los extremos */
    align-items: center;
    margin: 2rem; /* Ajusta el margen para separar del borde de la ventana */
}

.image {
    display: flex;
    flex-direction: column; /* Alinea las imágenes en columna */
}

.image img {
    width: 200px; /* Ajusta el tamaño de las imágenes según tu preferencia */
    border-radius: 2rem;
    margin-left: -10rem;
    margin-bottom: 1rem; /* Ajusta el margen entre las imágenes */
}

/* Estilos para el contenedor del texto */
.textoUs {
  flex: 1; /* Permite que el texto ocupe el espacio disponible */
  display: flex;
  flex-direction: column; /* Alinea los párrafos en columna */
}

.linea1hab, .linea2hab, .linea3hab {
  font-size: 110%; /* Ajusta el tamaño de fuente según tu preferencia */
  font-weight: bold;
  background-color: aquamarine;
  padding: 1rem;
  margin-top: 2rem;
  border-radius: 2rem;
}

  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
  }
  
  .content {
    flex: 1;
  }
  
  .footercontact {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #78C1F3;
    padding: 1px;
  }

  .imagecontact {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65vh;
    height: 100%;
    border-radius: 2rem;
    margin: 0 auto;
  }

  .containerdelivery {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 74px;
    margin-right: 200px;
  }
  
  .delivery {
    text-align: center;
    font-weight: bold;
    font-variant: small-caps;
    background-color: #636262;
    padding: 10px 20px;
    border-radius: 2rem;
    color: #FCAEAE;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    max-width: 800px;
    margin: 6rem auto 0;
    flex-direction: row;
  }
  
  .email, .Phone {
    background-color: gold;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    font-size: 30px;
    font-weight: bold;
    margin: 0 10px;
  }

  .footerhome {
    text-align: center;
    background-color: #78C1F3;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1px;
  }

  footer {
    text-align: center;
    background-color: #78C1F3;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1px;
  }